## 
# These properties are specific to the individual's development and
# test environment. This properties file should be located in your
# home directory, e.g.: ~/google-enterprise-connector-otex.properties
#
# To just compile and run the otex-core tests, you only need to set
# build.connector.manager.home and ensure that
# projects/connector-manager/dist/jarfile/connector-spi.jar exists
# there.


## 
# Build Properties

# The root installation of a LAPI installation from the Open Text SDK.
build.lapi.home = ${user.home}/OpenText/LAPI

# The root of the google-enterprise-connector-manager tree
build.connector.manager.home = ${user.home}/gsa/google-enterprise-connector-manager

# JDK 6 bootclasspath.
build.bootclasspath = /System/Library/Frameworks/JavaVM.framework/Versions/1.6.0/Classes/classes.jar:/System/Library/Frameworks/JavaVM.framework/Versions/1.6.0/Classes/jsse.jar


##
# Test Framework Properties
#
# displayUrl should include a fully-qualified hostname, and it is
# preferred, but not required, that it be a functional Livelink URL.

#javatest.connector.server = localhost
#javatest.connector.port = 2099
#javatest.connector.username = Admin
#javatest.connector.Password = livelink
#javatest.connector.displayUrl = http://ll.example.com/Livelink/livelink.exe
#javatest.connector.servtype = Oracle
#javatest.connector.googleConnectorName = llconnector
#javatest.connector.googleFeedHost = localhost
#javatest.tests.httpServerPort = 8080

javatest.connector.server = localhost
javatest.connector.port = 2099
javatest.connector.username = Admin
javatest.connector.Password = livelink
javatest.connector.displayUrl = http://www.google.com
javatest.connector.servtype = MSSQL
javatest.connector.googleConnectorName = llconnector
javatest.connector.googleFeedHost = localhost
javatest.tests.dashboardPort = 5679
