## 
# These properties are specific to the individual's development and
# test environment. This properties file should be located in your
# home directory, e.g.: ~/google-enterprise-connector-otex.properties
#
# To just compile and run the otex-core tests, you only need to set
# build.connector.manager.home and ensure that
# projects/connector-manager/dist/jarfile/connector-spi.jar exists
# there.


## 
# Build Properties

# The root installation of a LAPI installation from the Open Text SDK.
build.lapi.home = ${user.home}/OpenText/LAPI

# The root of the google-enterprise-connector-manager tree
build.connector.manager.home = ${user.home}/gsa/google-enterprise-connector-manager

# JDK 1.5 bootclasspath.
build.bootclasspath = /System/Library/Frameworks/JavaVM.framework/Versions/1.5.0/Classes/classes.jar:/System/Library/Frameworks/JavaVM.framework/Versions/1.5.0/Classes/jsse.jar


##
# Test Framework Properties

#javatest.connector.hostname = swift
#javatest.connector.port = 2950
#javatest.connector.username = Admin
#javatest.connector.Password = livelink
#javatest.connector.displayUrl = http://swift:9510/Livelink95/livelink
#javatest.connector.servtype = Oracle

javatest.connector.hostname = voltaire32
javatest.connector.port = 2959
javatest.connector.username = Admin
javatest.connector.Password = livelink
javatest.connector.displayUrl = http://voltaire32:81/Livelink95sp1/livelink.exe
javatest.connector.servtype = MSSQL
